* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    color: #fff;
}
h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.05em;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    background: url(../img/header-bg.jpg), url(../img/header-bg2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.header__wrapper.fixed {
    padding-top: 106px;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header.fixed {
    position: fixed;
    border-bottom: 0;
}
.header.fixed:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background-color: black;
    z-index: 2;
    transition: ease 0.3s;
}

.container {
    max-width: 1150px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    background-color: transparent;
}

.header__logo {
    display: flex;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 3;
}

.header__logo a:after{
    content: '';
    width: 1px;
    background-color: #fff;
    height: 67px;
    margin: 0 25px;
    position: relative;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__nav {
    width: 100%;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 2;
}

.nav__list li {
    font-size: 14px;
    line-height: 24px;
    margin-left: 5%;
    transition: all 0.3s;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav__link:after {
    content: '';
    width: 100%;
    margin-top: 8px;
    height: 3px;
}

.nav__link:hover:after {
    background-color: #fff;
}

.nav__list li:last-child:after {
    display: none;
}

.nav__list a:hover {
    font-weight: 800;
}

.nav__list li:last-child a {
    font-weight: 400;
    border: 1px solid #FFFFFF;
    padding: 4px 20px;
    border-radius: 20px;
}

.nav__list li:last-child a:hover {
    background-color: #FFFFFF;
    color: black;
}

.banner {
    padding-bottom: 140px;
    background-image: url(../img/header-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.tablet {
    isolation: isolate;
    position: absolute;
    object-fit: contain;
    right: 0;
    bottom: auto;
}

.banner h1 {
    margin-top: 125px;
    font-size: 42px;
    line-height: 63px;
}

.banner h2 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 45px;
    text-transform: none;
}

.banner p {
    margin-top: 32px;
}

.banner img {
    position: absolute;
    transform: translate(280px,-3px);
}
.banner button{
    display: flex;
    align-items: center;
    margin-top: 32px;
    background: linear-gradient(90deg, #FE5A35 0%, #F33439 100%);
    border-radius: 100px;
    border: none;
}

.banner button:before {
    content: '';
    position: absolute;
    transform: translateX(-5px);
    height: 60px;
}

.banner button h1 {
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    margin: 0 16px 0 28px;
    text-transform: none;
}

@media (max-width: 1430px) {

    .banner {
        background-image: none;
        padding-bottom: 50px;
    }

    .banner h1 {
        margin-top: 50px;
    }
}

@media (max-width: 990px) {

    body.lock {
        overflow: hidden;
    }

    h1 {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.05em;
    }
    
    h2 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }

    .header__wrapper.fixed {
        padding-top: 83px;
    }

    .header.fixed:before {
        height: 83px;
        border-bottom: 0;
    }

    .header__logo a:after{
        content: '';
        width: 1px;
        background-color: #fff;
        height: 37px;
        margin: 0 15px;
        position: relative;
        z-index: 3;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s;
    }

    .header__burger:after,
    .header__burger:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__nav {
        position: fixed;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: black;
        z-index: 1;
        padding-top: 120px;
        overflow: hidden;
    }

    .header__nav.active {
        top: 0;
        transition: all 0.3s;
    }

    .nav__list {
        display: block;
    }
    
    .nav__list li {
        margin-bottom: 20px;
        transition: all 0.3s;
    }
    
    .nav__list li:last-child a {
        border: none;
        padding: 0;
        border-radius: 0px;
    }

    .nav__list li:last-child a:hover {
        background-color: transparent;
        font-weight: 800;
        color: #FFFFFF;
    }
    
    .nav__link:after {
        display: none;
    }
}
